@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

*,*::backdrop,*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Mountains of Christmas', cursive;
  cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Christmas_Candies_Pointer.png) , pointer !important;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.lsd {
  width: 20px;
}

.buy-lsd {
  width: 12px;
}

.lock {
  margin-right: 5px;
}


button {
  cursor: url(https://cdn.custom-cursor.com/db/pointer/32/christmas_mittens_and_stocking_pointer.png) , pointer !important;
}
